.dest-container {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 40px;
}

.search-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}

.search-box input,
.search-box select {
  padding: 10px;
  width: 250px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.search-box button {
  padding: 10px 20px;
  background-color: #0057d9;
  color: white;
  border: none;
  border-radius: 6px;
}

.dest-card {
  background: #f4f4f4;
  padding: 15px;
  border-radius: 8px;
  margin: 10px auto;
  width: 50%;
  text-align: left;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}
